USE [master]
GO
/****** Object:  Database [POS_Database]    Script Date: 10/22/2025 11:26:26 PM ******/
CREATE DATABASE [POS_Database]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'POS_Database', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\POS_Database.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'POS_Database_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\POS_Database_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [POS_Database].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [POS_Database]
GO
/****** Object:  Table [dbo].[pos_nameTbl]    Script Date: 10/22/2025 11:26:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pos_nameTbl](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[pos_id] [varchar](50) NOT NULL,
	[name1] [varchar](100) NULL,
	[name2] [varchar](100) NULL,
	[name3] [varchar](100) NULL,
	[name4] [varchar](100) NULL,
	[name5] [varchar](100) NULL,
	[name6] [varchar](100) NULL,
	[name7] [varchar](100) NULL,
	[name8] [varchar](100) NULL,
	[name9] [varchar](100) NULL,
	[name10] [varchar](100) NULL,
	[name11] [varchar](100) NULL,
	[name12] [varchar](100) NULL,
	[name13] [varchar](100) NULL,
	[name14] [varchar](100) NULL,
	[name15] [varchar](100) NULL,
	[name16] [varchar](100) NULL,
	[name17] [varchar](100) NULL,
	[name18] [varchar](100) NULL,
	[name19] [varchar](100) NULL,
	[name20] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pos_picTbl]    Script Date: 10/22/2025 11:26:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pos_picTbl](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[pos_id] [varchar](50) NOT NULL,
	[pic1] [varchar](500) NULL,
	[pic2] [varchar](500) NULL,
	[pic3] [varchar](500) NULL,
	[pic4] [varchar](500) NULL,
	[pic5] [varchar](500) NULL,
	[pic6] [varchar](500) NULL,
	[pic7] [varchar](500) NULL,
	[pic8] [varchar](500) NULL,
	[pic9] [varchar](500) NULL,
	[pic10] [varchar](500) NULL,
	[pic11] [varchar](500) NULL,
	[pic12] [varchar](500) NULL,
	[pic13] [varchar](500) NULL,
	[pic14] [varchar](500) NULL,
	[pic15] [varchar](500) NULL,
	[pic16] [varchar](500) NULL,
	[pic17] [varchar](500) NULL,
	[pic18] [varchar](500) NULL,
	[pic19] [varchar](500) NULL,
	[pic20] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pos_priceTbl]    Script Date: 10/22/2025 11:26:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pos_priceTbl](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[pos_id] [varchar](50) NOT NULL,
	[price1] [decimal](10, 2) NULL,
	[price2] [decimal](10, 2) NULL,
	[price3] [decimal](10, 2) NULL,
	[price4] [decimal](10, 2) NULL,
	[price5] [decimal](10, 2) NULL,
	[price6] [decimal](10, 2) NULL,
	[price7] [decimal](10, 2) NULL,
	[price8] [decimal](10, 2) NULL,
	[price9] [decimal](10, 2) NULL,
	[price10] [decimal](10, 2) NULL,
	[price11] [decimal](10, 2) NULL,
	[price12] [decimal](10, 2) NULL,
	[price13] [decimal](10, 2) NULL,
	[price14] [decimal](10, 2) NULL,
	[price15] [decimal](10, 2) NULL,
	[price16] [decimal](10, 2) NULL,
	[price17] [decimal](10, 2) NULL,
	[price18] [decimal](10, 2) NULL,
	[price19] [decimal](10, 2) NULL,
	[price20] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[pos_nameTbl] ON 

SET IDENTITY_INSERT [dbo].[pos_nameTbl] OFF
GO
SET IDENTITY_INSERT [dbo].[pos_picTbl] ON 

SET IDENTITY_INSERT [dbo].[pos_picTbl] OFF
GO
SET IDENTITY_INSERT [dbo].[pos_priceTbl] ON 

SET IDENTITY_INSERT [dbo].[pos_priceTbl] OFF
GO
USE [master]
GO
